.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image p {
  margin: 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.section.card-overlay .cards.block {
  position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #000000; */
    /* color: #fff; */
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    top: 0;
    margin-top: 70px;
    border-radius: 8px;
    opacity: 0.95;
    background: #eee7e7;
    display: flex;
    width: 636px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    position: relative !important;
}

.cards-card-body h2 {
  color: var(--scope-text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /*line-height: 150%;*/
  letter-spacing: -0.418px;
  margin-bottom: 24px;
}
.cards-card-body p {
  color: var(--scope-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.38px;
  margin-bottom: 0;
}

.section.text-overlay{
  top: 0;
  margin-top: 170px;
margin-left: 300px;
  border-radius: 8px;
  opacity: 0.95;
  background: var(--scope-gradients-light-color-left);
  display: flex;
  width: 636px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.section.text-overlay h1{
  color: var(--scope-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 50%;
    letter-spacing: -0.418px;
    margin-bottom: 24px;
}

.section.text-overlay h2{
  color: var(--scope-primary);
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.874px;
  margin-bottom: 24px;
}

.section.text-overlay p{color: var(--scope-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.38px;
  margin-bottom: 0;
}